body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    padding: 15px;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.home {
    text-align: center;
    padding: 40px;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.content {
    padding: 40px;
}